*.iml
.gradle
/local.properties
.idea/
.DS_Store
/build
build/
/captures
adi-registration.properties
.externalNativeBuild
.cxx
local.properties
.kotlin/

# Release artifacts
app/release/
*.aab
*.apk

# Signing
*.keystore
*.jks
keystore.properties